
.App-logo {
  width: 150px;
  pointer-events: none;
}

header.main-header{
  display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
}

 ul.navBar{
  list-style: none;
  display: flex;
  justify-content: center;

}

ul.navBar li{
  margin-right: 12px;
  
}

container-logo{
  width: 100%;
}