
.App-logo {
  width: 150px;
  pointer-events: none;
}

header.main-header{
  display: flex;
    width: 80%;
    padding: 15px;
    justify-content: space-between;
}

 ul.NavBar{
  list-style: none;
  display: flex;
  justify-content: center;
  justify-items: end;


}

ul.NavBar li{
  margin-right: 12px;
  
}

container-logo{
  width: 100%;
}